@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gov-primary: #0d4077;
  --serbia-blue: #0d4077;
  --serbia-red: #c6363c;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  background-color: #f9fafb;
  color: #111827;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827;
    color: #f9fafb;
  }
}
